#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
DomoTricks: Settings

Copyright (C) 2021 Nicolas Béguier

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
"""

# Mail
GMAIL_USER = 'me@gmail.com'
GMAIL_PASSWORD = 'MyPassword'
MAIL_RECIPIENTS = ['me+domotricks@gmail.com']

# Database
DB_PATH = '/opt/domotricks.db'

# Alerting
HOLIDAY_ASSET_ID = '14_11_00a35d_4'
