{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card mb-3">
  <div class="card-body">
    Weather: <b>{{weather["location"]}}</b> {{weather["temperature"]}}, {{weather["humidity"]}}, {{weather["description"]}}
  </div>
</div>

{% for asset in assets %}
<h3>{{asset["nickname"]}}</h3>
[{{asset["timestamp"]}}]
{% for meta in asset["metadata"] %}
<li><b>{{meta["key"]}}</b>: {{meta["value"]}} {{meta["unit"]}}</li>
{% endfor %}
<br>
{% endfor %}

{% endblock %}
